<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="styles/style.css">
    <meta charset="UTF-8">
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
    <title>Title</title>
</head>
<body >
<h1>List of goods</h1>
<table>
    <table width="50%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
       &goods
    </table>
</table>
</body>
</html>