<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove</title>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
<table>
    <table width="50%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
        </tr>
        &goods
    </table>
</table>
<br><br>
<form action="/remove.html" method="POST">
    <div><label>Id:</label>
        <input type="text" name = "remove">
    <input type="submit" value="Remove"></div>
</form>
</body>
</html>